<div >
    <mat-toolbar>
        <div>
            <span>{{data().title}}</span>
        </div>
        <div >
            @if (data().dialog) {
            <button mat-raised-button (click)="add()">
                {{data().dialog?.button_text}}
                <mat-icon>{{data().dialog?.button_icon}}</mat-icon>
            </button>
            }
            @if (data().toolbar_object){
                <app-general-toolbar-object [data]="data()"></app-general-toolbar-object>
            }
        </div>
    </mat-toolbar>
</div>