<div class="sidenav-header">
    <label class="avatar-wrapper" [class.uploading]="uploadingPhoto()" for="photo-upload" title="Change photo">
        <img [width]="setImageSize()" [height]="setImageSize()" [src]="photoSrc()" alt="Your profile photo">
        <span class="avatar-edit-badge">
            <mat-icon>edit</mat-icon>
        </span>
    </label>
    <input id="photo-upload" type="file" accept="image/*" hidden (change)="onPhotoSelected($event)">
    <div class="header-text" [class.hide-header-text]="collapsed()">
        <h2>Portfolio</h2>
        <p>{{ displayName() }}</p>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item.label)
    {
    <a [routerLink]="item.route" class="unselected-menu-item" routerLinkActive="selected-menu-item"
        mat-list-item>
        <mat-icon fontSet="material-symbols-outlined" matListItemIcon> {{ item.icon }} </mat-icon>
        @if (!collapsed()){
        <span matListItemTitle>{{ item.label }}</span>
        }
    </a>
    }
</mat-nav-list>
