<div class="sidenav-header">
    <img [width]="setImageSize()" [height]="setImageSize()" src="assets/bao.jpg">
    <div class="header-text" [class.hide-header-text]="collapsed()">
        <h2>Portfolio</h2>
        <p>Bruno Adam Osiek</p>
    </div>
</div>
<mat-nav-list>
    @for (item of menuItems(); track item.label)
    {
    <a [routerLink]="item.route" class="unselected-menu-item" routerLinkActive="selected-menu-item"
        mat-list-item>
        <mat-icon fontSet="material-symbols-outlined" matListItemIcon> {{ item.icon }} </mat-icon>
        @if (!collapsed()){
        <span matListItemTitle>{{ item.label }}</span>
        }
    </a>
    }
</mat-nav-list>
