<div class="sidenav-header" [matMenuTriggerFor]="profileMenu">
    <img [width]="setImageSize()" [height]="setImageSize()" [src]="photoSrc()">
    <div class="header-text" [class.hide-header-text]="collapsed()">
        <h2>Portfolio</h2>
        <p>{{ displayName() }}</p>
    </div>
</div>
<mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
<mat-nav-list>
    @for (item of menuItems(); track item.label)
    {
    <a [routerLink]="item.route" class="unselected-menu-item" routerLinkActive="selected-menu-item"
        mat-list-item>
        <mat-icon fontSet="material-symbols-outlined" matListItemIcon> {{ item.icon }} </mat-icon>
        @if (!collapsed()){
        <span matListItemTitle>{{ item.label }}</span>
        }
    </a>
    }
</mat-nav-list>
