@use '@angular/material' as mat;

.table-container {
  // border: 1px solid black;
  // border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
}

table {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-inverse-primary)
  ));
}

/* In your component's CSS file */
.mat-column-purchase_price {
  text-align: end;
}

.mat-column-quantity {
  text-align: end;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
  gap: 8px;
}
