<div>
    <div>
        <form [formGroup]="assetSelectionForm">
            <mat-form-field appearance="outline" style="margin-top: 12px; width: 500px">
                <mat-label>Asset or investment</mat-label>
                <input matInput formControlName="asset" placeholder="TMYTS" (keyup)="searchTerm($event)" (keydown.enter)="onEnterKey()">
                <mat-icon matSuffix>search_insights</mat-icon>
            </mat-form-field>
            @if (searchResults().length > 0){
            <mat-selection-list [multiple]="false" hideSingleSelectionIndicator #selectedSymbol
                (selectionChange)="onSelectionChange(selectedSymbol.selectedOptions.selected)"
                >
                @for (result of searchResults(); track result.asset) {
                <mat-list-option [value]="result">
                    <div matListItemTitle>{{result.asset}}</div>
                    <div matListItemLine>{{result.asset_name}}</div>
                </mat-list-option>
                <mat-divider></mat-divider>
                }
            </mat-selection-list>
            }
        </form>
    </div>
    <div class="actions">
        <div>
            <button mat-raised-button [mat-dialog-close]="true">
                Cancel
                <mat-icon fontSet="material-symbols-outlined">cancel</mat-icon>
            </button>
        </div>
    </div>

</div>