.main-container {
    display: flex;
    width: 100%;
    height: 90%;
}

.chart-container {
    display: block;
    width: 100%;
    height: 95%;
    margin-top: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.first-component {
    align-self: flex-end;
    /* Overrides parent alignment for this item */
}