
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use '../src/app/themes/main_theme.scss' as main-theme;
@use '../src/app/themes/light_theme.scss' as green-theme;


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: green-theme.$primary-palette,
      tertiary: green-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-large);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-theme {
  @include mat.theme((color: (theme-type: dark,
        primary: main-theme.$primary-palette,
        tertiary: main-theme.$tertiary-palette,
      )));
}


/* App Component Customization */
:root {
  @include mat.card-overrides((
    outlined-container-shape: 16px,
    outlined-outline-width: 2px,
  ));
  @include mat.dialog-overrides((
    container-shape: 16px,
    container-min-width: 1600px

  ));
  @include mat.form-field-overrides((
    outlined-focus-outline-color: var(--mat-sys-primary),
    outlined-focus-label-text-color: var(--mat-sys-primary)
  ));
}

/* Override any default margins to prevent misalignment */
.mat-mdc-card-header .mat-mdc-card-title,
.mat-mdc-card-header .mat-mdc-card-subtitle {
  margin: 0 auto;
}

.success-snackbar-theme {
  @include mat.snack-bar-overrides((
    supporting-text-color: black,
    container-color: var(--mat-sys-inverse-primary),
    supporting-text-size: 24px
  ));
  // width: 2500px !important;
}

.success-snackbar-theme .mdc-snackbar__surface {
  max-width: 1000px !important; /* Set your desired max-width */
  width: 100%; /* Ensures it is responsive up to the max-width */
}

.error-snackbar-theme {
  @include mat.snack-bar-overrides((
    supporting-text-color: rgb(255, 253, 253),
    container-color: var(--mat-sys-error),
    supporting-text-size: 24px
  ));
}

.error-snackbar-theme .mdc-snackbar__surface {
  max-width: 1000px !important; /* Set your desired max-width */
  width: 100%; /* Ensures it is responsive up to the max-width */
}


