<div>
    <form #newPortfolioForm="ngForm">
        <div>
            <mat-form-field appearance="outline" style="width: 300px">
                <mat-label>Portfolio name</mat-label>
                <input matInput placeholder="Type in the portfolio name" name="portfolio-name" [(ngModel)]="portfolio_model.id">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 900px">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Type a short description" name="description" [(ngModel)]="portfolio_model.description">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button [mat-dialog-close]="true">
                <mat-icon>cancel_presentation</mat-icon>
                Cancel
            </button>
            <button mat-raised-button (click)="save()" [mat-dialog-close]="portfolio_model">
                <mat-icon fontSet="material-symbols-outlined">save_as</mat-icon>
                Save
            </button>
        </div>
    </form>

</div>