.main-container {
    display: flex;
    width: 100%;
    height: 90%;
}

.chart-container {
    display: block;
    width: 100%;
    height: 95%;
    margin-top: 24px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.first-component {
    align-self: flex-end;
    /* Overrides parent alignment for this item */
}

// .highcharts-stock-tools-button {
//     background-color: #FF0000;
//     /* Change to your desired color */
//     border-color: #FF0000;
//     /* Change the border color if needed */
//     color: #FFFFFF;
//     /* Change the text color */


//     .highcharts-bindings-wrapper {
//         display: block;
//         width: 40px;
//         height: 100%;
//         position: absolute;
//         z-index: 10;
//         top: 0;
//     }
// }

.highcharts-bindings-wrapper .highcharts-stocktools-toolbar li {
    list-style: none;
    margin-bottom: 3px;
    padding: 0;
    clear: both;
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
    // background-color: var(--highcharts-neutral-color-3, #f7f7f7);
    background-color: green;
    transition: background-color 250ms;
}