<div class="widget-container" #parentCard cdkDrag>
    <mat-card appearance="outlined" class="widget-card"
    [style.background-color]="widgetConfig().background_color"
    [style.color]="widgetConfig().color"
    >
        <mat-card-header class="dragable-area">
            <mat-card-title-group>
                <mat-card-title>{{widgetConfig().title}}</mat-card-title>
                <mat-card-subtitle>{{symbol()}}</mat-card-subtitle>
            </mat-card-title-group>
            <button mat-icon-button (click)="showWidgetSettings.set(true)">
                <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <ng-component [ngComponentOutlet]="widgetConfig().content"></ng-component>
            @if (showWidgetSettings()) {
            <app-tmyts-widgets-settings [configWidget]="widgetConfig()" [user_id]="user_id()"
                [(showWidgetSettings)]="showWidgetSettings"></app-tmyts-widgets-settings>
            }
        </mat-card-content>
    </mat-card>
</div>