@use '@angular/material' as mat;

:host {
    display: block;
    border-radius: 16px;
}

.widget-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    overflow: hidden; // content that surpasses widget size will be hidden
    cursor: move;
}

mat-icon {
  @include mat.icon-overrides((
    color: var(--mat-sys-primary),
  ));
}

.widget-card {
  @include mat.card-overrides((
    outlined-container-color: var(--mat-sys-surface),
    outlined-outline-color: var(--mat-sys-secondary),
    outlined-outline-width: 2px,
    outlined-container-shape: 16px
  ));
  height: 100%;
  width: 100%;
}

.custom-dialog-container .mat-mdc-dialog-surface {
  border-radius: 8px; /* Optional: adds rounded corners to the overlay */
}
