.mat-column-symbol {
  width: 32px;
  // border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-gain_loss {
  width: 128px;
  padding-right: 24px;
  text-align: center;
}

// .mat-column-percent {
//   width: 128px;
//   padding-right: 24px;
//   text-align: center;
// }
