@use '@angular/material' as mat;

// To make the div fill the stepper's full content area.
// Adjust the padding as needed for your design.
:host ::ng-deep .mat-horizontal-stepper-content {
  padding: 0; // Remove default padding from the stepper content area
}

.stock-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  // Key change: Include padding and border within the 100% width
  box-sizing: border-box;
  width: 100%;

  border: 1px solid #ccc;
  padding: 1rem; // Add back padding inside your div for content spacing

  h3,
  h4 {
    margin: 0; // Remove default margins from heading elements
    white-space: nowrap; // Prevent text from wrapping if it gets too long
    overflow: hidden; // Hide any overflowing text
    text-overflow: ellipsis; // Add ellipses to cut-off text if desired
  }
}

mat-stepper {
  @include mat.stepper-overrides(
    (
      header-height: 48px,
      header-focus-state-layer-color: var(--mat-sys-background),
      header-hover-state-layer-color: var(--mat-sys-background)
    )
  );
}

mat-selection-list {
  @include mat.list-overrides((list-item-label-text-color: green,
      list-item-two-line-container-height: 55px,
      list-item-label-text-size: 14px,
      list-item-label-text-weight: bold,
      list-item-supporting-text-size: 12px,
      list-item-supporting-text-weight: bold));
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  width: 300px;
}