<div>
    <div>
        <div>
            <mat-stepper linear #stepper>
                <mat-step [completed]="stepOneCompleted">
                    <form [formGroup]="symbolFormGroup">
                        <ng-template matStepLabel>Type an investament name or symbol</ng-template>
                        <mat-form-field appearance="outline" style="margin-top: 12px;">
                            <mat-label>Symbol or investment</mat-label>
                            <input matInput formControlName="symbol" placeholder="Select a symbol"
                                (keyup)="searchTerm($event)">
                            <mat-icon matSuffix>search_insights</mat-icon>
                        </mat-form-field>
                        @if (results().length > 0){
                        <mat-selection-list
                        [multiple]="false"
                        hideSingleSelectionIndicator
                        #selectedSymbols
                        (selectionChange)="onSelectionChange(stepper, selectedSymbols.selectedOptions.selected)"                        
                        >
                            @for (result of results(); track result.id) {
                                <mat-list-option [value]="result">
                                    <div matListItemTitle>{{result.symbol}}</div>
                                    <div matListItemLine>{{result.symbol_name}}</div>
                                </mat-list-option>
                                <mat-divider></mat-divider>
                            }
                        </mat-selection-list>
                        }
                        <div>
                            <button type="button" matButton matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="symbolFormGroup">
                    <div class="stock-card">
                        <span>{{selectedItem.symbol}}</span>
                        <span>{{selectedItem.symbol_name}}</span>
                        <span>230.00</span>
                        <span>6.56%</span>
                    </div>
                    <form [formGroup]="symbolFormGroup">
                        <ng-template matStepLabel>Fill purchase information</ng-template>
                        <mat-form-field>
                            <mat-label>Quantity</mat-label>
                            <input matInput formControlName="quantity" placeholder="Type quantity to be purchased"
                                required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Purchase price</mat-label>
                            <input matInput formControlName="purchasePrice" placeholder="Type the purchase price"
                                required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Purchase date</mat-label>
                            <input matInput formControlName="purchaseDate" placeholder="Choose a purchase date"
                                required>
                        </mat-form-field>
                        <div>
                            <button matButton type="button" matStepperPrevious>Back</button>
                            <button matButton type="submit" matStepperNext (click)="buyStock()">Buy</button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </div>

    </div>
</div>