<div class="header-container">
  <h2>Portfolio Performance</h2>
  <div class="header-cell">
    <h4>Initial Value</h4>
    <span>
      @if (dataSource.data.length > 0) {
      {{getInitialValue() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="header-cell">
    <h4>Current Value</h4>
    <span>
      @if (dataSource.data.length > 0) {
      {{getCurrentValue() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="header-cell" [ngClass]="{'green': getTotalPercent() >= 0, 'red': getTotalPercent() < 0}">
    <h4>Gain/Loss</h4>
    <span>
      @if (dataSource.data.length > 0) {
      {{getTotalGainAnLoss() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="header-cell" [ngClass]="{'green': getTotalPercent() >= 0, 'red': getTotalPercent() < 0}">
    <h4>Percent</h4>
    <span>
      @if (dataSource.data.length > 0) {
      {{getTotalPercent()| percent: '1.2-2'}}
      } @else {
      0.00%
      }

    </span>
  </div>
</div>
<div class="table-container">
  @if (spinnerFlagIsSet) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>  
  } @else {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Total Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Cash in Column -->
    <ng-container matColumnDef="cash_in">
      <th mat-header-cell *matHeaderCellDef> Total Dividends/Interest </th>
      <td mat-cell *matCellDef="let element"> {{element.cash_in}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="fees">
      <th mat-header-cell *matHeaderCellDef> Total Fees </th>
      <td mat-cell *matCellDef="let element"> {{element.fees}} </td>
    </ng-container>

    <!-- Average Price Column -->
    <ng-container matColumnDef="average_price">
      <th mat-header-cell *matHeaderCellDef> Average Price </th>
      <td mat-cell *matCellDef="let element"> {{element.average_price | currency}} </td>
    </ng-container>

    <!-- Average Price Column -->
    <ng-container matColumnDef="actual_price">
      <th mat-header-cell *matHeaderCellDef> Current Price </th>
      <td mat-cell *matCellDef="let element"> {{element.actual_price | currency}} </td>
    </ng-container>

    <!-- Variation Column -->
    <ng-container matColumnDef="variation">
      <th mat-header-cell *matHeaderCellDef> Gain/Loss </th>
      <td mat-cell *matCellDef="let element"
        [ngStyle]="{'color': element.variation >= 0 ? '#0d9e03' : '#732f2f', 'font-weight': 'bold'}">
        {{element.variation | currency}} </td>
    </ng-container>

    <!-- Percent Column -->
    <ng-container matColumnDef="percent">
      <th mat-header-cell *matHeaderCellDef> ROI </th>
      <td mat-cell style="padding: 0;" *matCellDef="let element">
        @if (element.percent >= 0) {
        <app-tmyts-chip iconName="arrow_upward_alt" classType="success-container" backgroundColorColor="#7ff593">{{element.percent
          | percent:'1.2-2'}}
        </app-tmyts-chip>
        } @else {
        <app-tmyts-chip iconName="arrow_downward_alt" classType="error-container">{{element.percent | percent:'1.2-2'}}
        </app-tmyts-chip>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }

</div>