@use '@angular/material' as mat;

.table-container {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow */
  overflow: hidden;
  padding: 16px;
}

table {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-inverse-primary)
  ));
}