@use '@angular/material' as mat;

.table-container {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adds a subtle drop shadow */
  overflow: hidden;
  padding: 16px;
}

table {
  @include mat.table-overrides((row-item-outline-color: var(--mat-sys-inverse-primary)));
}

/* In your component's CSS file */
.mat-column-variation {
  text-align: end;
}

.mat-column-percent {
  text-align: end;
}

.icon-with-currency {
  display: flex;
  align-items: center; // Vertically aligns the icon and text
  gap: 4px; // Adds some space between the icon and the text

  mat-icon {
    // Optional: Add specific styling for the icon if needed
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  span {
    // Optional: Add specific styling for the currency text if needed
    font-weight: bold;
    color: #333;
  }

  mat-chips {
    @include mat.chips-overrides((flat-selected-outline-width: 10px));
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; // Vertically aligns the icon and text
  vertical-align: middle; // Adds some space between the icon and the text

  .header-cell {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;

    h4 {
      margin: 3px;
    }
  }
}
