<div class="summary-bar">
  <div class="summary-card">
    <span class="summary-label">Initial Value</span>
    <span class="summary-value">
      @if (dataSource.data.length > 0) {
      {{getInitialValue() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="summary-card">
    <span class="summary-label">Current Value</span>
    <span class="summary-value">
      @if (dataSource.data.length > 0) {
      {{getCurrentValue() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="summary-card" [ngClass]="{'positive': getTotalPercent() >= 0, 'negative': getTotalPercent() < 0}">
    <span class="summary-label">Gain/Loss</span>
    <span class="summary-value">
      @if (dataSource.data.length > 0) {
      {{getTotalGainAnLoss() | currency:'USD':'symbol':'1.2-2'}}
      } @else {
      $0.00
      }
    </span>
  </div>
  <div class="summary-card" [ngClass]="{'positive': getTotalPercent() >= 0, 'negative': getTotalPercent() < 0}">
    <span class="summary-label">Percent</span>
    <span class="summary-value">
      @if (dataSource.data.length > 0) {
      {{getTotalPercent()| percent: '1.2-2'}}
      } @else {
      0.00%
      }
    </span>
  </div>
</div>
<div class="table-container">
  @if (spinnerFlagIsSet) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
  <table mat-table [dataSource]="dataSource" class="performance-table">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Asset Column -->
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef> Asset </th>
      <td mat-cell *matCellDef="let element"> {{element.asset}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Total Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity | number:'1.2-2'}} </td>
    </ng-container>

    <!-- Cash in Column -->
    <ng-container matColumnDef="cost_basis_price">
      <th mat-header-cell *matHeaderCellDef> Purchase Price </th>
      <td mat-cell *matCellDef="let element"> {{element.cost_basis_price | currency:'USD':'symbol':'1.2-2'}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="close">
      <th mat-header-cell *matHeaderCellDef> Close Price </th>
      <td mat-cell *matCellDef="let element"> {{element.close  | currency:'USD':'symbol':'1.2-2'}} </td>
    </ng-container>

    <!-- Variation Column -->
    <ng-container matColumnDef="gain_loss">
      <th mat-header-cell *matHeaderCellDef> Gain/Loss </th>
      <td mat-cell *matCellDef="let element" class="gain-loss-cell"
        [ngClass]="{'positive': element.gain_loss >= 0, 'negative': element.gain_loss < 0}">
        {{element.gain_loss | currency}} </td>
    </ng-container>

    <!-- Percent Column -->
    <ng-container matColumnDef="weighted_percent">
      <th mat-header-cell *matHeaderCellDef> ROI </th>
      <td mat-cell *matCellDef="let element">
        @if (element.weighted_percent >= 0) {
        <app-tmyts-chip iconName="arrow_upward_alt" classType="success-container">{{element.weighted_percent
          | percent:'1.2-2'}}
        </app-tmyts-chip>
        } @else {
        <app-tmyts-chip iconName="arrow_downward_alt" classType="error-container">{{element.weighted_percent | percent:'1.2-2'}}
        </app-tmyts-chip>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
    aria-label="Select page of portfolio performance">
  </mat-paginator>
</div>
