<div>
    @if (data){
    <div>
        <app-tmyts-toolbar [data]="data" (notifyParent)="parentNotified($event)"></app-tmyts-toolbar>
    </div>
    }
    @if (!symbol) {
    <div class="assets-analysis-header">
        <span>No asset has been selected yet.</span>
    </div>
    } @else {
    <div class="assets-analysis-header">
        <span>Selected asset: {{symbol}}</span>
        <button mat-raised-button [matMenuTriggerFor]="menu">
            <mat-icon fontSet="material-symbols-outlined">add_chart</mat-icon>
            Indicators
        </button>
        <mat-menu #menu="matMenu">
            @for (widget of widgetConfigService.widgetsToBeAdded(); track widget.id){
            <button mat-menu-item (click)="widgetConfigService.addWidgetToDashboard(widget)">
                <span>{{widget.label}} indicator</span>
            </button>
            } @empty {
            <button mat-menu-item>
                <span>No more widgets to add</span>
            </button>
            }
        </mat-menu>
    </div>
    <div>
        <mat-grid-list cols="4" rowHeight="2:1">
            @for (widget of  widgetConfigService.widgetsInDashboard(); track widget.id) {
            <mat-grid-tile [colspan]="widget.columns" [rowspan]="widget.rows"
                [style.background]="widget.backgroundColor">
                 <app-tmyts-widget [widgetConfig]="widget"></app-tmyts-widget>
            </mat-grid-tile>
            }
        </mat-grid-list>
    </div>
    }
</div>