<div>
    @if (data) {
    <app-tmyts-toolbar [data]="data"></app-tmyts-toolbar>
    }
    <div class="borders">
        <div class="custom-card-header">
            <mat-form-field appearance="outline" style="width: 40cm;">
                @if (selectedPortfolio) {
                    <mat-label>Portfolio id</mat-label>
                } @else {
                    <mat-label>You have no saved portfolios. Click on the button to create one ==></mat-label>
                }
                <mat-select matNativeControl [(ngModel)]="selectedPortfolio">
                    <option value="" selected></option>
                    @for (portfolio of portfolioList; track portfolio.portfolio_id){
                        <mat-option [value]="portfolio.portfolio_id">{{portfolio.portfolio_id}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button mat-raised-button class="add-button" (click)="add()">
                New portfolio
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="content-wrapper">
            <div>
                <app-portfolio-table-rud></app-portfolio-table-rud>
            </div>
            <div>
                <app-portfolio-table-renderer></app-portfolio-table-renderer>
            </div>
        </div>
        <mat-card-footer>
            <mat-card-actions class="footer-actions">
                <button mat-raised-button>
                    Add stock
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </div>
</div>