<div>
    @if (data) {
    <app-tmyts-toolbar [data]="data">
    </app-tmyts-toolbar>
    }

    @if (portfolioList.length !== 0) {
    <div class="container-flex-center">
        <h1>You have no saved portfolios. Click on the top write button to create one.</h1>
    </div>
    } @else {
    <div class="borders">
        <div class="custom-card-header">
            <mat-form-field appearance="outline" style="width: 40cm;">
                <mat-label>Select</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button class="add-button">
                New portfolio
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="content-wrapper">
            <div>
                <app-portfolio-table-rud></app-portfolio-table-rud>
            </div>
            <div>
                <app-portfolio-table-renderer></app-portfolio-table-renderer>
            </div>
        </div>
        <mat-card-footer>
            <mat-card-actions class="footer-actions">
                <button mat-raised-button>
                    Add stock
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </div>
    }
</div>